.container {
    width: 300px;
    margin:auto;
    position: absolute;
    left: 0; bottom: 10vh; right: 0;
    border: 1px solid red;
}

.numberGrid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    /*border: 1px solid white;*/
    text-align: center;
    font-size: 30px;
    padding: 10px 0 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.item:hover{
    background: #222222;
}